.containers{
    margin-top: 100px;
    margin-bottom: 40px;
}
.cono{
    margin-bottom: 20px;
}
.col-md-7 h2{
    color:#000
}
.head{
    color:#555
}
hr{
    height: 1px;
    background: black;
}